<!DOCTYPE html>
<!-- set global theme from daisy ui -->
<html lang="en" data-theme="halloween">
  <!-- HEAD -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minlink</title>

    <link
      rel="shortcut icon"
      href="../assets/favicon.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../assets/font.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.4"
      integrity="sha384-A986SAtodyH8eg8x8irJnYUk7i9inVQqYigD6qZ9evobksGNIXfeFvDwLSHcp31N"
      crossorigin="anonymous"
      defer
    ></script>
  </head>

  <!-- BODY -->
  <body
    hx-ext="sse"
    id="body"
    class="font-[elza] h-screen w-full max-w-9/10 sm:max-w-5/6 md:max-w-4/6 md:max-w-3/6 xl:max-w-2/6 mx-auto"
  >
    <!-- NAVBAR -->
    <div class="h-[12.5vh] navbar bg-base-100 shadow-sm">
      <div class="flex items-center flex-1">
        <img src="../assets/favicon.png" width="50" height="50" alt="github" />
        <a class="btn btn-ghost text-5xl -ml-2">MinLink</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details>
              <summary>Network</summary>
              <ul class="bg-base-200 rounded-t-none p-2 z-40">
                <li class="w-24">
                  <a>
                    <img
                      src="../assets/ethereum.svg"
                      width="15"
                      height="20"
                      alt="ethereum"
                    />
                    Mainnet
                  </a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <!-- MAIN -->
    <main
      class="h-[78vh] border-1 rounded-md flex flex-col justify-center gap-12"
    >
      <div>
        <h1 class="mt-8 text-[50px] text-center">Pegging Status</h1>
        <ul class="mt-2 flex justify-center items-center gap-2">
          <li class="flex items-center gap-2">
            <div class="w-4 flex justify-center">
              <div class="w-4 h-4 rounded-full bg-green-500"></div>
            </div>
            <span>Healthy</span>
          </li>
          <li class="flex items-center gap-2">
            <div class="w-4 flex justify-center">
              <div class="w-4 h-4 rounded-full bg-red-500"></div>
            </div>
            <span>Danger</span>
          </li>
        </ul>
        <div
          class="my-2 border-t border-gray-300 w-1/2 mx-auto opacity-75"
        ></div>
        <div class="w-1/2 mx-auto opacity-75 text-center">
          *Min: 0.990 USD | Max: 1.010 USD
        </div>
        <div class="w-1/2 mx-auto opacity-75 text-center">
          *Refresh: every 10s
        </div>
      </div>

      <div hx-ext="sse" sse-connect="/api/sse_stats" sse-swap="sse_stats">
        Contents of this box will be updated in real time with every SSE message
        received from the chatroom.
      </div>
    </main>

    <!-- FOOTER -->
    <footer
      class="h-fit border-1 rounded-md footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4"
    >
      <aside class="grid-flow-col items-center justify-self-center">
        <a href="https://github.com/developerasun/minlink" target="_blank">
          <img
            src="../assets/github-mark-white.png"
            width="25"
            height="25"
            alt="github"
          />
        </a>
        <p>Copyright © 2025 - All right reserved</p>
      </aside>
    </footer>
  </body>
</html>
